.footer-section{
    width: 100%;
    height: 405px;
    background: #223B53;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.footer-main{
    width: 90%;
    height: 80%;
    /* background: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description-and-links{
    width: 35%;
    /* background: green; */
    height: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description-and-links .description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-and-links .description .logo{
    /* background: pink; */
    display: flex;
    align-items: center;
}

.description-and-links .description .logo .logo-img
{
    width: 100px;
    height: 100px;
    background: grey;
    clip-path: circle();
}


.description-and-links .description .logo p
{
   font-size: 29px;
   font-weight: bold;
   padding-left: 18px;
   color: white;
}

.description-and-links .description .logo-description{
    padding-top: 3%;
    color: #C2C2C2;
    margin-left: 180px;
}

.description-and-links  .icons{
   display: flex;
   /* background-color: pink; */
   width: 250px;
   height: 60px;
   margin-top: 25px;
   justify-content: space-between;
   align-items: center;
   font-size: 30px;
}

.description-and-links .icons .icons-inside{
    border: 2px solid rgba(196, 196, 196, 20%);
    padding: 9px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.links{
    display: flex;
    width: 20%;
    height: 88%;
    /* background: red; */
    justify-content: space-around;
    align-items: center;
}

.links .pages .pages-heading
{
    font-weight: 600;
    font-size: 23px;
    color: white;
}

.links .pages .pages-links{
    color: white;
    cursor: pointer;
    padding: 2px;
}

.links .products .products-heading
{
    font-weight: 600;
    font-size: 23px;
    color: white;
}

.links .products .products-links{
    color: white;
    cursor: pointer;
    padding: 2px;
}

.newsletter-section{
    width: 35%;
    height: 88%;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.newsletter-section .newsletter-heading{
    /* background: blue; */
    display: flex;
    align-items: center;
}

.newsletter-section .newsletter-heading .icon{
    color: white;
    font-size: 30px;
}

.newsletter-section .newsletter-heading p{
    font-size: 20px;
    color: white;
    padding-left: 10px;
}

.newsletter-section .input-box{
    width: 380px;
    height: 50px;
    /* background: pink; */
    margin-top: 20px;
}

.newsletter-section .input-box input{
    width: 100%;
    height: 100%;
    border: none;
    color: #AEAEAE;
    padding-left: 30px;
    font-size: 20px;
    border-radius: 5px;
}

.newsletter-section .button{
    width: 190px;
    /* background: blue; */
    height: 55px;
    margin-top: 20px;
}

.newsletter-section .button button{
    width: 100%;
    height: 100%;
    border: 5px solid #FFC465;
    color: #FFC465;
    background: none;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}