@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
:root{
  --main-color: black;
  --second-color: white;
}

.active-dark{
  background-color: #27292D;
  --main-color: white;
  --second-color: #27292D;
}
.hero-section {
  /* background-color: red; */
  height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text-section {
  /* background: green; */
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.text-section-main-heading {
  font-size: 5vw;
  font-weight: 500;
  color: var(--main-color);
}

.text-section-main-heading span {
  font-weight: 600;
  color: #ffab24;
}
.text-section-description {
  font-weight: 500;
  color: var(--main-color);
}
.text-section button {
  width: 200px;
  height: 60px;
  font-size: 1.2vw;
  margin-top: 5%;
  background: #ffc465;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  border: none;
}
.books-showcase-section {
  display: flex;
  flex-direction: column;  
  /* background: green; */
  height: 60%;
  width: 30%;
}
.books{
    /* background: blue; */
    width: 100%;
    height: 70%;
    display: flex;
    align-items: flex-end;
}
.books img{
    width: 140px;
    height: 220px;
    margin: 0 4%;
    filter: drop-shadow(10px 50px 35px rgba(0, 0, 0, 0.23));
}
#first-book{
    margin-left: 1% !important;
}
#tilted-book{
    width: 190px;
    height: 230px;
    margin-right: 1%;
}
.book-shelf {
  width: 120%;
  height: 10%;
  background: #ffc465;
  box-shadow: 0px 3px 16px #ffffff, 18px 24px 60px -7px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}
