@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;800&family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    width: 100%;
    height: 8vh;
    justify-content: space-around;
    align-items: center;
    min-height: 60px;
}


nav .logo-section{
    display: flex;
    width: 10%;
    height: 100%;
    align-items: center;
    font-weight: 700;
    font-size: 1vw;
}


nav .logo-section .logo-img{
    background: red;
    width: 30%;
    height: 60%;
    clip-path: circle();
    margin-right: 3%;
}

nav .links-section{
    width:auto;
    padding-top: .7%;
    justify-content:right;
}

nav .links-section .active a{
    border-bottom: 3px solid #FFAB24;
    color: #FFAB24;
    font-weight: 800;
}

nav .links-section ul{
    display: flex;
}

nav .links-section li{
    letter-spacing: 1px;
    list-style: none;
    padding: 0% 9%;
    position: relative;
    font-size: 1vw;
}
nav .links-section li a{
    color: black;
    font-weight: 600;
}
nav .links-section Link{
    padding: 0 10%;
}

nav .buttons 
{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: green;
}


nav .buttons .login-btn{
    background: #FFAB24;
    color: white;
    border: none;
    font-size: 1vw;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    width: 37%;
    height: 60%;
    font-family: 'Poppins', sans-serif;
}

nav .buttons .signup-btn{
    background: white;
    color: #FFAB24;
    border: none;
    font-size: 1vw;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    width: 37%;
    height: 60%;
    border: 3px solid #FFAB24;
    font-family: 'Poppins', sans-serif;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
    padding: 5%;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 4px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(29px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}

.checkbox{
    display: none;
}
