

.imgs {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100vh;
}

.main{
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: rgba(0, 0, 0, 0.62);
}

.main2{
    background: white;
    width: 30%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 36px;
    display: flex;
    flex-direction: column;
}

.main2 .head {
    margin-top: 40px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 37px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.main2 .inputs{
    /* background: green; */
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.rows{
    margin-top: 25px;
}

.input{
    height: 53px;
    border: 2px solid #BEBEBE;
    border-radius: 3px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.07em;
    color: #A8A8A8;
    padding-left: 10px;
    box-sizing: border-box;
}

.small-input{
    width: 250px;
    margin-left: 10px;
}

.large-input{
    width: 500px
}

.instructions{
    margin-top: 13px;
    /* background: blue; */
    display: flex;
    flex-direction: column;

}

.instructions .instruction {
    display: flex;
    margin-left: 38px;
    margin-bottom: 5px;
    font-size: 14px;
}

.cross{
    width: 20px;
    height: 20px;
    color: red;
}
.correct{
    width: 20px;
    height: 20px;
    color: #13d7ac;
}

.instruction p{
    padding-left: 8px;
    padding-top: -5px;
}

.btn{
    /* background: red; */
    margin-top: 40px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.btn button{
    height: 100%;
    width: 80%;
    cursor: pointer;
    
background: #FFAB24;
border-radius: 3px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
/* identical to box height */

letter-spacing: 0.05em;

color: #FFFFFF;
border: none;

}